eBankit.rel70/Main/Source/Proxy/Middleware.Proxy.CustomEbankit/Service References/EbankitCustomService/EbankitCustomService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="ITCore" elementFormDefault="qualified" targetNamespace="ITCore" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://dev-suite-appcenter.ebankit.local/Services/Ebankit/EbankitCustomService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/eBankit.Business.Entities" />
  <xs:import schemaLocation="http://dev-suite-appcenter.ebankit.local/Services/Ebankit/EbankitCustomService.svc?xsd=xsd6" namespace="http://schemas.datacontract.org/2004/07/eBankit.Business.Entities.Authentication" />
  <xs:import schemaLocation="http://dev-suite-appcenter.ebankit.local/Services/Ebankit/EbankitCustomService.svc?xsd=xsd7" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:complexType name="ServiceOutputHeader">
    <xs:sequence>
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/eBankit.Business.Entities" minOccurs="0" name="Error" nillable="true" type="q1:ServiceError" />
      <xs:element minOccurs="0" name="FavoritId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="HasReturnMessage" type="xs:boolean" />
      <xs:element minOccurs="0" name="LastTransactionCall" type="xs:dateTime" />
      <xs:element minOccurs="0" name="NextSecurityToken" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OperationId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OperationTypeId" type="xs:int" />
      <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/eBankit.Business.Entities" minOccurs="0" name="Perfomance" nillable="true" type="q2:ServiceExecutionPerfomance" />
      <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/eBankit.Business.Entities" minOccurs="0" name="Progress" nillable="true" type="q3:ServiceProgress" />
      <xs:element minOccurs="0" name="RefreshAccounts" type="xs:boolean" />
      <xs:element minOccurs="0" name="ReturnCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ReturnMessage" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SimulationResult" nillable="true" type="tns:SimulationResult" />
      <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/eBankit.Business.Entities" minOccurs="0" name="Status" nillable="true" type="q4:ServiceStatus" />
      <xs:element minOccurs="0" name="Version" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ServiceOutputHeader" nillable="true" type="tns:ServiceOutputHeader" />
  <xs:complexType name="SimulationResult">
    <xs:sequence>
      <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/eBankit.Business.Entities.Authentication" minOccurs="0" name="AliasPositionsWithSession" nillable="true" type="q5:AliasPositionsWithSession" />
      <xs:element minOccurs="0" name="DefaultCredentialType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RequiresAuthentication" type="xs:boolean" />
      <xs:element xmlns:q6="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="SuportedCredentialTypes" nillable="true" type="q6:ArrayOfstring" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SimulationResult" nillable="true" type="tns:SimulationResult" />
  <xs:element name="OutputHeader" nillable="true" type="tns:ServiceOutputHeader" />
</xs:schema>