eBankit.rel70/Main/Source/Proxy/Middleware.Proxy.CustomEbankit/Service References/EbankitCustomService/EbankitCustomService6.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/eBankit.Business.Entities.Authentication" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/eBankit.Business.Entities.Authentication" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://dev-suite-appcenter.ebankit.local/Services/Ebankit/EbankitCustomService.svc?xsd=xsd7" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:complexType name="AliasPositionsWithSession">
    <xs:sequence>
      <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="Positions" nillable="true" type="q1:ArrayOfstring" />
      <xs:element minOccurs="0" name="PositionsSequence" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SessionId" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AliasPositionsWithSession" nillable="true" type="tns:AliasPositionsWithSession" />
</xs:schema>